/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(176,191,212);
}

header {
  height: 140px;
  background-color: #b0bfd4;
}

.logo {
  font-family: "Nanum Myeongjo", serif;
  font-size: 72px;
  color: rgb(209, 200, 200);
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

header h2 {
  font-family: "Nanum Myeongjo", serif;
  color: white;
  margin: 0px;
  font-size: 18px;
  text-align: center;
}

footer {
  background-color: #b0bfd4;
}

section {
  padding: 0 15%;
  margin: 50px 0;
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(59, 26, 112, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* -------  Type ------- */

h1,
h2,
h3 {
  font-family: "Nanum Myeongjo", serif;
  color: #403933;
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

p,
li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5em;
  margin-bottom: 0;
  text-align: center;
  list-style-position: inside;
}

a {
  font-weight: 700;
  text-decoration: none;
}
a:link {
  color: #693c9c;
}
a:visited {
  color: #693c9c;
}
a:hover {
  color: #a462ee;
}
a:active {
  color: #8e6db4;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
}

/* -------  Elements ------- */

img,
iframe {
  width: 70%;
  border-radius: 20px;
  border: 8px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -------  Modifier styles ------- */

.border-top {
  padding-top: 80px;
  border-top: 2px solid #403933;
}
